<mat-card>
    <mat-card-title>
        What is the project?
    </mat-card-title>
    <mat-card-subtitle>
        Context
    </mat-card-subtitle>
    <mat-card-content>
        <p>
            The history of video games dates back to the 1950s with OXO, a tic-tac-toe game running on EDSAC, an automatic vacuum tube computer. A video game is an electronic game with a user interface allowing visible human interaction on screens. The video game sector has been growing since 2002 and generates revenues of $ 10 billion. Indeed, this figure exceeds that of Hollywood, which demonstrates the impact of this industry on society. There are three main sectors in the video game industry, game consoles, arcade machines and computers
        </p>
    </mat-card-content>

    <mat-card-subtitle>	
        Dataset
    </mat-card-subtitle>
    <mat-card-content>
        <p>
            The database chosen for the project contains several information on 16,500 video games. These data were obtained from the platform www.vgchartz.com containing numerous details concerning the sales of video games. In fact, 16 attributes are represented in this dataset. Among these attributes we find the name, the platform, the year of Release, the genre, the publisher, the sales in North America, in Europe, in Japan, in the rest of the world, the global sales, the critic score, the critic count, the user score, the user count, the developer and the rating.
        </p>
    </mat-card-content>

    <mat-card-subtitle>	
        Questions from the analysis of the database 
    </mat-card-subtitle>
    <mat-card-content>
        <p>
            In order to properly organize the visualizations that we are going to perform, we asked ourselves several questions: What attributes of video games make games sell more? (For example: type of console, genre of games, name of the game, etc.)
            <br>&emsp;● Are there any links between these attributes?
            <br>&emsp;● Are certain attributes more important than others?
            <br>&emsp;● Do certain types of games sell more in a certain region of the world than in others?
        </p>
    </mat-card-content>
</mat-card>
